In [2]:
# Add the Pandas Dependency.
import pandas as pd

In [3]:
# Files to laod
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [23]:
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)
school_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [21]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [24]:
# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

F:\Anaconda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
School_data_complete_df = pd.merge(student_data_df,school_data_df,on = "school_name")
School_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [34]:
Total_students = School_data_complete_df['student_name'].count()
Total_students

39170

In [37]:
Total_schools = len(School_data_complete_df['School ID'].unique())
Total_schools

15

In [40]:
Total_budget = school_data_df['budget'].sum()
Total_budget

24649428

In [45]:
average_math_score = School_data_complete_df['math_score'].mean()
average_math_score

78.98537145774827

In [44]:
average_reading_score = School_data_complete_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [60]:
passing_math = School_data_complete_df[School_data_complete_df['math_score'] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [62]:
passing_reading = School_data_complete_df[School_data_complete_df['reading_score'] >= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [78]:
passing_math_count = passing_math['student_name'].count()
passing_math_percentage = passing_math_count / total_students *100
passing_math_percentage

74.9808526933878

In [80]:
passing_reading_count = passing_reading['student_name'].count()
passing_reading_percentage = passing_reading_count /total_students *100
passing_reading_percentage

85.80546336482001

In [67]:
# Calculate the students who passed both math and reading.
passing_math_reading = School_data_complete_df[(School_data_complete_df["math_score"] >= 70) & (School_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [72]:
overall_passing_math_reading_count = passing_math_reading['student_name'].count()
overall_passing_percentage = overall_passing_math_reading_count / total_students * 100
overall_passing_percentage

65.17232575950983

In [52]:
num_passing_reading = 0
for score in School_data_complete_df['reading_score']:
    if score >=70:
        num_passing_reading +=1
percentage_passing_reading = num_passing_reading / total_students *100
print(f'{percentage_passing_reading:.1f}% students passed reading')

85.8% students passed reading

In [53]:
num_passing_math = 0
for score in School_data_complete_df['math_score']:
    if score >=70:
        num_passing_math +=1
percentage_passing_math = num_passing_math / total_students *100
print(f'{percentage_passing_math:.1f}% students passed math')

75.0% students passed math

In [82]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": total_schools,
          "Total Students": total_students,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [87]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [88]:
passing_math_percent(passing_math_count,total_students)

74.9808526933878

In [100]:
district_summary_df['Total Students'] = district_summary_df['Total Students'].map("{:,}".format)
district_summary_df['Total Students']

0    39,170
Name: Total Students, dtype: object

In [102]:
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,}".format)
district_summary_df['Total Budget']

0    $24,649,428
Name: Total Budget, dtype: object

In [104]:
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.1f}".format)
district_summary_df['Average Math Score']

0    79.0
Name: Average Math Score, dtype: object

In [105]:
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.1f}".format)
district_summary_df['Average Reading Score']

0    81.9
Name: Average Reading Score, dtype: object

In [106]:
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.0f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.0f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.0f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",79.0,81.9,75,86,65

In [107]:
reorder_columns = ['Average Math Score','% Passing Math','Average Reading Score','% Passing Reading','% Overall Passing','Total Students','Total Schools','Total Budget']

reorder_summary_df = district_summary_df[reorder_columns]
reorder_summary_df

,Average Math Score,% Passing Math,Average Reading Score,% Passing Reading,% Overall Passing,Total Students,Total Schools,Total Budget
0,79.0,75,81.9,86,65,"39,170",15,"$24,649,428"